<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AutolayoutAndUIScrollView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>949D94DB1E19501700A8A43D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>949D94EF1E19501800A8A43D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>949D94FA1E19501800A8A43D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
